body {
  font-family: Calibri, sans-serif;
}

.aumentarLivro {
  width: 50%;
  height: 50%;
}

table {
  border: 1px solid gray;
  padding: 10px;
}

td, th {
  border: none;
  text-align: center;
}

tr:nth-child(even) {
  background-color: rgb(230, 213, 213);
}
